html, body {
  height: 100%;
  background-color:rgb(235,235,235);
  margin:0;
  padding:0;
  overflow-y: hidden;
    
   /*Serve a bloccare la responsività ad una certa largezza*/
   min-width:768px; 
   width: auto !important;  /* Firefox will set width as auto */
   width:768px;  
}

/*Roba che serve a centrare verticalmente il contaier di bootstrap e il jumbotron, non funziona benissimo*/
.jumbotron.vertical-center {
    
    margin-bottom: 0; /* Remove the default bottom margin of .jumbotron */
    background-color: #EBEBEB;
}
vertical-center {
  min-height: 100%;  /* Fallback for vh unit */
  min-height: 50vh; /* You might also want to use
                        'height' property instead.
                        
                        Note that for percentage values of
                        'height' or 'min-height' properties,
                        the 'height' of the parent element
                        should be specified explicitly.
  
                        In this case the parent of '.vertical-center'
                        is the <body> element */

  /* Make it a flex container */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  
  /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;
  
  /* In legacy web browsers such as Firefox 9
     we need to specify the width of the flex container */
  width: 100%;
  
  /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
     hence the bootstrap's container won't be aligned to the center anymore.
  
     Therefore, we should use the following declarations to get it centered again */
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
}




.navbar-container{
    position: absolute;
    width: 100%;
    height:80px; 
    background-color: white;
    z-index: 2;
    padding: 13px;
     /*il -2px permette di avere l'ombra solo sotto*/
    -webkit-box-shadow: 0px 4px 4px -2px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 4px 4px -2px rgba(0,0,0,0.2);
    box-shadow: 0px 4px 4px -2px rgba(0,0,0,0.2);
}

#left-panel-container{
    position: relative;
    height: 90%;
    margin-top: 0px;
    -webkit-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.15);
}



    #list-container{
        width: 100%;
        height: 100%;
        padding-top: 79px; /*dovrebbe essere 80, ma cosi tolgo il bordo*/
        background-color: #DEDEDE ;
        overflow: auto;
        
    }
        .menu-icon{
            margin-top: 8px;
            width: 38px;
        }

        /*Roba bootstrap sovrascritta*/
        .list-group-item {
            position: relative;
            display: block;
            padding: 10px 15px;
            margin-bottom: -1px;
            background-color: #fff;
            border-bottom: none;
            border-right: none;
            border-left: none;
            border-top: 1px solid #ddd;
            height:74px;
            
        }
        .list-group-item:first-child {
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            
        }
        .list-group-item:last-child {
            margin-bottom: 0;
            border-bottom-right-radius: 0px;
            border-bottom-left-radius: 0px;
        }
        /*Fine*/

            .profile-pic {
                display:inline-block;
                width: 50px;
                height: 50px;
                border-radius: 150px;
                -webkit-border-radius: 150px;
                -moz-border-radius: 150px;
            }
            
            /*Questa cosa è bruttisima da fare, ma funziona quindi*/
            @media only screen and (max-width: 991px) {
            .profile-pic{
                margin-left: 10px;
            }
            }

            .profile-text {
                display:inline-block;
                margin-left: 20px;
                vertical-align: middle;
                position: relative;
            }

                .profile-name{
                    font-size: 21px;
                    color: #454545;
                    font-weight: 200;

                }

                .last-message{
                    width: 140px;
                    font-size: 14px;
                    color: #737373;
                    font-weight: 250;
                    position: absolute;
                }

                .profile-message-time{
                    font-size: 14px;
                    color: #737373;
                    font-weight: 250;
                }
                
            .profile-indicator{
                display:inline-block;
                vertical-align: middle;
                text-align: center;
                margin-right: 0px;
                margin-left: 15px;
                margin-top: 0px;
            }
            
            /*Questa cosa è bruttisima da fare, ma funziona quindi*/
            @media only screen and (max-width: 1200px) {
            .profile-indicator{
                margin-left: 30px;
            }
            }



                .profile-true{
                        height: 12px;
                        width: 12px;
                        background: grey;
                        -webkit-border-radius: 100px;
                        -moz-border-radius: 100px;
                        border-radius: 100px;
                        box-shadow: 0 0 0 0px #fff, 0 0 0 2px #888;
                }

                .profile-false{
                        height: 12px;
                        width: 12px;
                        -webkit-border-radius: 100px;
                        -moz-border-radius: 100px;
                        border-radius: 100px;
                        box-shadow: 0 0 0 0px #fff, 0 0 0 2px #888;
                    
                }


#right-panel-container{
    position: relative;
    height: 90%;
    -webkit-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.15);
-moz-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.15);
box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.15);
}


    .profile-pic-single {
        display:inline-block;
        width: 50px;
        height: 50px;
        border-radius: 150px;
        margin-left: 10px;
        -webkit-border-radius: 150px;
        -moz-border-radius: 150px5
    }
    .profile-name-single {
        display:inline-block;
        margin-left: 10px;
        vertical-align: middle;
        font-size: 23px;
        color: #454545;
        font-weight: 200;
    }

    #isTyping{

        font-size: 14px;
    }

    #chat-container{
        padding-bottom: 80px;
        padding-top: 80px;
        width: 100%;
        height: 100%; 
        background-color: #DEDEDE ;
        overflow: scroll;
        overflow-x: hidden;
        position: absolute ;
        text-align: center;
    }
    .loader{
        padding: 10px;
        width: 70px;
    }
    #chat-container > .row{
            margin:0;
    }
            
            .chat-sender-text {
                max-width: 400px;
                word-wrap: break-word;
                padding: 20px;
                background-color: white;
                
                margin: 20px;
                -webkit-box-shadow: 0px 4px 4px -2px rgba(0,0,0,0.2);
                -moz-box-shadow: 0px 4px 4px -2px rgba(0,0,0,0.2);
                box-shadow: 0px 4px 4px -2px rgba(0,0,0,0.2);
                color: #454545;
            }

 
             .chat-receiver-text {
                max-width: 400px;
                word-wrap: break-word;
                padding: 20px;
                background-color: #EDEDED;
                
                margin: 20px;
                -webkit-box-shadow: 0px 4px 4px -2px rgba(0,0,0,0.2);
                -moz-box-shadow: 0px 4px 4px -2px rgba(0,0,0,0.2);
                box-shadow: 0px 4px 4px -2px rgba(0,0,0,0.2);
                 color: #454545;
            }

            .chat-date-text {
                padding: 1px;
                background-color: gray;
                
                margin: 10px;
                -webkit-box-shadow: 0px 4px 4px -2px rgba(0,0,0,0.2);
                -moz-box-shadow: 0px 4px 4px -2px rgba(0,0,0,0.2);
                box-shadow: 0px 4px 4px -2px rgba(0,0,0,0.2);
                color: #454545;
            }

            .profile-message-time{
                    font-size: 14px;
                    color: #737373;
                    font-weight: 250;
                }
            .profile-message-seen{
                    width: 20px;
                    
            }


                

    .chatbar-container{
        position: absolute;
        width: 100%;
        height:80px;
        bottom: 0;
        background-color: white;
        padding: 15px;
    }

        #chat-textbox{
            width: 80%;
            height: 50px;
            border: 0px;
            padding-left: 20px;
            padding-right: 20px;
            background-color: #F2F2F2;
            border-radius: 5px;
            outline:none;
            font-size: 19px;
            color: #757575;
            transition: background-color 0.5s;
        }

        #chat-textbox:focus{
            background-color: #E8E8E8; 
        }

        #send-button{
            position: absolute;
            width: 16%;
            height: 50px;
            border: 0px;
            background-color: #F2F2F2;
            border-radius: 5px;
            outline:none;
            font-size: 19px;
            color: #7A7A7A;
            transition: background-color 0.5s, color 0.5s;
            right: 15px;
        }
        
        #send-button:hover{
            background-color: #E8E8E8; 
            color: #616161;
        }
/* modal */
.card {
    width: 350px;
    height: 550px;
    background: #D8D8D8;
    box-shadow: 0px 9px 28px 0px rgba(0, 0, 0, 0.50);
    border-radius: 12px;
    padding: 55px;
    padding-top: 45px;
}
.card-small {
    width: 350px;
    height: 415px;
    background: #D8D8D8;
    box-shadow: 0px 9px 28px 0px rgba(0, 0, 0, 0.50);
    border-radius: 12px;
    padding: 55px;
    padding-top: 45px;
}
.title{
    font-size: 40px;
    text-align: center;
    color: grey;
    margin-bottom: 45px;
}
.textBox-container {
    border-bottom: 2px solid grey;
    margin-bottom: 20px;
}
.textBox {
    height: 40px;
    width: 100%;
    border: 0px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;
    outline: none;
    font-size: 15px;
    color: grey;
}
#send-buttonm {
    width: auto;
    height: 50px;
    border: 0px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid grey;
    outline: none;
    font-size: 15px;
    color: grey;
    float: right;
}
.switch {
    width: 60%;
    font-size: 15px;
    float: left;
    color: grey;
    margin-top: 34px;
}
.modal-body {
    position: relative;
    padding: 0px;
}
.modal-dialog {
    width: 410px;
    height: 460px;
    margin: 30px auto;
}
a, a:visited {
    outline:none;
    color:#389dc1;
}

a:hover{
    text-decoration:none;
}

section, footer, header, aside{
    display: block;
}


/*----------------------------
    The file upload form
-----------------------------*/

#upload{
    font-family:'PT Sans Narrow', sans-serif;
    background-color:#373a3d;

    background-image:-webkit-linear-gradient(top, #373a3d, #313437);
    background-image:-moz-linear-gradient(top, #373a3d, #313437);
    background-image:linear-gradient(top, #373a3d, #313437);

    width:300;
    padding:30px;
    border-radius:3px;
}

#drop{
    background-color: #2E3134;
    padding: 40px 50px;
    margin-bottom: 0px;
    border: 20px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    border-image: url('uploader/assets/img/border-image.png') 25 repeat;
    text-align: center;
    text-transform: uppercase;

    font-size:16px;
    font-weight:bold;
    color:#7f858a;
}
form {
    margin-bottom: 0px;
}
#drop a{
    background-color:#007a96;
    padding:12px 26px;
    color:#fff;
    font-size:14px;
    border-radius:2px;
    cursor:pointer;
    display:inline-block;
    margin-top:12px;
    line-height:1;
}

#drop a:hover{
    background-color:#0986a3;
}

#drop input{
    display:none;
}

#upload ul{
    list-style:none;
    margin:0 -30px;
    border-top:1px solid #2b2e31;
    border-bottom:1px solid #3d4043;
}

#upload ul li{

    background-color:#333639;

    background-image:-webkit-linear-gradient(top, #333639, #303335);
    background-image:-moz-linear-gradient(top, #333639, #303335);
    background-image:linear-gradient(top, #333639, #303335);

    border-top:1px solid #3d4043;
    border-bottom:1px solid #2b2e31;
    padding:15px;
    height: 52px;

    position: relative;
}

#upload ul li input{
    display: none;
}

#upload ul li p{
    width: 144px;
    overflow: hidden;
    white-space: nowrap;
    color: #EEE;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 100px;
}

#upload ul li i{
    font-weight: normal;
    font-style:normal;
    color:#7f7f7f;
    display:block;
}

#upload ul li canvas{
    top: 15px;
    left: 32px;
    position: absolute;
}

#upload ul li span{
    width: 15px;
    height: 12px;
    background: url('uploader/assets/img/icons.png') no-repeat;
    position: absolute;
    top: 34px;
    right: 33px;
    cursor:pointer;
}

#upload ul li.working span{
    height: 16px;
    background-position: 0 -12px;
}

#upload ul li.error p{
    color:red;
}

.m-photo{
    width: 300px;
}
/*
----------------------------
    The Demo Footer
-----------------------------


footer{
    background-color: #080808;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.4);
    height: 40px;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 100000;
}

footer h2{
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    top:0;
    left: 50%;
    bottom:0;
    margin-left: -420px;
    padding:13px 20px 0;
    border:1px solid #000;
    border-width:0 1px;
    background-color:rgba(0,0,0,0.6);
    box-shadow:0 0 5px #000 inset;
    line-height: 1;
    margin-top: 0;
}

footer h2 a{
    color: #EEEEEE !important;
    text-decoration:none !important;
}

footer h2 i{
    font-style:normal;
    color:#888;
}
*/
#tzine-download{
    opacity:0.9;
    background-color:#257691;
    font-size:11px;
    text-align:center;
    text-transform:uppercase;
    width:150px;
    height:28px;
    line-height:28px;
    text-decoration:none !important;

    display: inline-block;
    border-radius: 2px;
    color: #fff !Important;
    font-weight: bold;
    box-shadow: 0 -1px 2px #1e5e74 inset;

    border-top:1px solid #26849c;

    text-shadow:1px 1px 1px #1e6176;
    margin-top:6px;
}

#tzine-download:hover{
    opacity:1;
}

#tzine-actions{
    position:absolute;
    top:0;
    width:500px;
    right:50%;
    margin-right:-420px;
    text-align:right;
}

#tzine-actions iframe{
    display: inline-block;
    height: 21px;
    width: 95px;
    position: relative;
    float: left;
    margin-top: 11px;
}